<div class="pauth box" data-popup="reg">
    <button class="pauth__close js-pauth-close"></button>
    <div class="register__popup">
        <div class="section__head text--center">
            <div class="title text--white">Регистрация</div>
        </div>
        <form method="post" action="{% url 'accounts:sign-up' %}" id="signupForm" class="ajax_post_form">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="" />
            <div class="form__input">
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="input input--nbd"
                    required
                    placeholder="Логин*"
                    value="{{ form.username.value|default_if_none:'' }}"
                >
                <div class="input__bg"></div>
            </div>
            <div class="form__input">
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    class="input input--nbd"
                    placeholder="E-mail*"
                    value="{{ form.email.value|default_if_none:'' }}"
                >
                <div class="input__bg"></div>
            </div>
            <div class="form__input">
                <input
                    type="password"
                    id="password"
                    name="password1"
                    required
                    class="input input--nbd"
                    placeholder="Пароль*"
                    value="{{ form.password1.value|default_if_none:'' }}"
                    autocomplete="off"
                >
                <div class="input__bg"></div>
            </div>
            <div class="form__input">
                <input
                    type="password"
                    id="confirmPassword"
                    name="password2"
                    class="input input--nbd"
                    placeholder="Пароль еще раз*"
                    autocomplete="off"
                    value="{{ form.password2.value|default_if_none:'' }}"
                >
                <div class="input__bg"></div>
            </div>
            <label class="form__policy">
                <input type="checkbox" name="check_rule" value="1">
                <span class="form__policy-sq"></span>
                <span class="form__policy-t">С <a href="/tos/" target="_blank" rel="noreferrer noopener">правилами сервиса</a> ознакомлен и согласен</span>
            </label>
            <div class="form__submit">
                <button type="submit" name="register" class="btn btn--wall"><span>Регистрация</span></button>
            </div>
            <div class="pauth__enter">
                <div class="pauth__enter-t">У вас есть аккаунт?</div>
                <button class="btn btn--bd btn--bdg" type="button" data-open-login="login"><span>Войти</span></button>
            </div>
            <div class="resultgo"></div>
        </form>
    </div>
</div>