{% extends 'partials/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<body>
<div class="wrapper">

    {% include 'partials/header.html' %}

     <main class="content__wrapper">
        <div class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <a href="https://crypto-chicken.co/" itemprop="item" class="breadcrumbs__link">
                            <span itemprop="name">{% trans "Головна" %}</span>
                        </a>
                        <meta itemprop="position" content="1"/>
                    </li>

                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                        itemtype="https://schema.org/ListItem">
                        <span itemprop="name" class="breadcrumbs__current">{% trans "AML правила" %}</span>
                        <meta itemprop="position" content="2"/>
                    </li>
                </ul>
            </div>
        </div>
        <section class="page">
            <div class="container">
                <div class="page_wrap box box--cont aml anonymous post-616 page type-page status-publish hentry">
                    <div class="section__head">
                        <h1 class="title">
                            {% trans "AML правила" %} </h1>
                    </div>


                    <div class="text">

                        <div class="content__text">
                            <h3>{% trans "1. Вступ" %}</h3>
                            <p>{% trans "Політика протидії легалізації доходів, отриманих злочинним шляхом, та \"Знай свого клієнта\" (далі — «AML / Політика KYC») призначена для запобігання і зниження можливих ризиків CryptoChicken бути втягнутим у будь-яку незаконну діяльність." %}</p>
                            <h3>{% trans "2. Мета внутрішнього регулювання" %}</h3>
                            <p>{% trans "Сервіс CryptoChicken дотримується практик і заходів у сфері протидії легалізації (відмиванню) доходів, отриманих злочинним шляхом, та фінансуванню тероризму (AML). Метою цих заходів є демонстрація того, що CryptoChicken серйозно ставиться до будь-яких спроб використати свій сервіс у незаконних цілях." %}</p>
                            <h3>{% trans "3. Попередження" %}</h3>
                            <p>{% trans "Сервіс CryptoChicken попереджає користувачів про заборону використання сервісу CryptoChicken для легалізації грошових коштів, отриманих злочинним шляхом, фінансування тероризму, шахрайства будь-якого виду, а також для покупки заборонених товарів і послуг." %}</p>
                            <p>{% trans "Сервіс CryptoChicken, його адміністрація, співробітники та власники домену не несуть відповідальності за неправомірне використання сервісу третіми особами, дії зловмисників і можливу шкоду, пов’язану з використанням сервісу CryptoChicken." %}</p>
                            <h3>{% trans "4. Вимоги" %}</h3>
                            <p>{% trans "Для запобігання операціям незаконного характеру сервіс CryptoChicken встановлює певні вимоги до всіх Заявок, створюваних Користувачем:" %}</p>
                            <p>{% trans "4.1. Відправником і отримувачем Платежу за Заявкою має бути одна і та ж особа. Використання послуг Сервісу категорично заборонено для переказів на користь третіх осіб." %}</p>
                            <p>{% trans "4.2. Всі контактні дані, які вносить Користувач у Заявку, а також інші персональні дані, що передаються Користувачем Сервісу, мають бути актуальними і повністю достовірними." %}</p>
                            <p>{% trans "4.3. Категорично заборонено створення Заявок Користувачем із використанням анонімних проксі-серверів, VPN, Tor або інших анонімних підключень до Інтернету." %}</p>
                            <h3>{% trans "5. Процедури Верифікації" %}</h3>
                            <p>{% trans "Одним із міжнародних стандартів запобігання незаконній діяльності є належна перевірка клієнтів (далі – Перевірка). З цією метою CryptoChicken впроваджує власні процедури перевірки згідно зі строгими стандартами протидії легалізації доходів, отриманих злочинним шляхом, і KYC." %}</p>
                            <p>{% trans "5.1. Сервіс CryptoChicken може вимагати, щоб Користувач надав Сервісу CryptoChicken надійні, незалежні вихідні документи, дані або інформацію для проходження верифікації і підтвердження джерел походження коштів. Серед необхідного можуть бути:" %}</p>
                            <ul>
                                <li>{% trans "Фотографія з паспортом у розгорнутому вигляді, де чітко видно фотографію і ПІБ;" %}</li>
                                <li>{% trans "Скан або фотографія паспорта (перша, друга сторінки і сторінка з пропискою у гарній якості);" %}</li>
                                <li>{% trans "Підтвердження джерел походження коштів (фото, скріншоти, виписки);" %}</li>
                                <li>{% trans "Відео, на якому особа, що відправила кошти, з паспортом у руках у розгорнутому вигляді (де чітко видно фотографію, ПІБ), говорить, що вона створила заявку ID (номер заявки) на обмінному пункті CryptoChicken, відправлені кошти є її особистими і вона несе повну юридичну відповідальність за дану криптовалюту, також на відео потрібно згадати джерело походження коштів;" %}</li>
                                <li>{% trans "Записати відео, зняте з платформи, звідки були відправлені кошти, на відео мають бути зафіксовані хеш, адреса відправника і отримувача, сума з тикером і дата здійснення транзакції. Тривалість відео має бути не менше 10 секунд." %}</li>
                            </ul>
                            <p>{% trans "5.2. У разі блокування через високий ризик або офіційне розслідування, кошти будуть утримані до моменту проходження верифікації або завершення розслідування. Для таких цілей Сервіс CryptoChicken залишає за собою право збирати ідентифікаційну інформацію Користувача для дотримання Політики AML/KYC." %}</p>
                            <p>{% trans "5.3. Сервіс CryptoChicken здійснить заходи щодо підтвердження достовірності документів і інформації, наданої Користувачами. Всі юридичні методи для подвійної перевірки ідентифікаційної інформації будуть застосовуватися, і Сервіс CryptoChicken залишає за собою право розслідувати випадки певних Користувачів, особи яких були визначені як небезпечні або підозрілі." %}</p>
                            <p>{% trans "5.4. Сервіс CryptoChicken залишає за собою право перевіряти особу Користувача на постійній основі, особливо, коли його ідентифікаційна інформація була змінена або його діяльність здалася підозрілою (незвичною для конкретного Користувача). Крім того, Сервіс CryptoChicken залишає за собою право запитувати у Користувачів актуальні документи, навіть якщо вони проходили перевірку раніше." %}</p>
                            <p>{% trans "5.5. Інформація про ідентифікацію користувача буде збиратися, зберігатися, використовуватися і захищатися суворо відповідно до Політики конфіденційності Сервісу CryptoChicken і відповідних правил." %}</p>
                            <p>{% trans "5.6. Після підтвердження особи користувача Сервіс CryptoChicken може відмовити у наданні послуг Користувачу у випадку, якщо послуги Сервісу CryptoChicken використовуються для ведення незаконної діяльності." %}</p>
                            <p>{% trans "5.7. Користувачі, які мають намір використовувати платіжні картки для отримання послуг, повинні пройти перевірку картки відповідно до інструкцій, доступних на сайті CryptoChicken." %}</p>
                            <p>{% trans "5.8. Сервіс CryptoChicken має нормативні вимоги щодо перевірки джерела фінансових коштів чи криптовалюти, щоб знати, що джерела коштів, які Користувачі використовують для торгівлі, є законними." %}</p>
                            <p>{% trans "5.9. Заявки старше 30 днів архівуються. Для подальшої роботи з такими заявками і комунікації між відділами обмінного пункту залучаються додаткові ресурси. За такими заявками стягується комісія 10% від суми заявки." %}</p>
                            <h3>{% trans "6. Відповідальна посадова особа" %}</h3>
                            <p>{% trans "Особа, відповідальна за дотримання норм AML, є належним чином уповноваженою Сервісом CryptoChicken, її обов'язком є забезпечення ефективного впровадження і дотримання політики AML/KYC." %}</p>
                            <p>{% trans "6.1. Обов'язком такої посадової особи є контроль за всіма аспектами діяльності CryptoChicken у сфері протидії легалізації доходів, отриманих злочинним шляхом, включаючи відмивання грошей і фінансування тероризму, зокрема, але не обмежуючись наступними методами:" %}</p>
                            <ul>
                                <li>{% trans "збір ідентифікаційної інформації користувачів;" %}</li>
                                <li>{% trans "створення і оновлення внутрішніх політик і процедур для завершення, розгляду, подання і зберігання всіх звітів і записів, що вимагаються відповідно до чинного законодавства і правил;" %}</li>
                                <li>{% trans "моніторинг транзакцій і дослідження будь-яких суттєвих відхилень від нормальної діяльності;" %}</li>
                                <li>{% trans "впровадження системи управління записами для належного зберігання і пошуку документів, файлів, форм і журналів;" %}</li>
                                <li>{% trans "регулярне оновлення оцінки ризику;" %}</li>
                                <li>{% trans "надання правоохоронним органам інформації, необхідної згідно з чинним законодавством і правилами." %}</li>
                            </ul>
                            <p>{% trans "6.2. Посадова особа, відповідальна за дотримання норм AML, має право взаємодіяти з правоохоронними органами, які беруть участь у запобіганні відмиванню грошей, фінансуванню тероризму та іншій незаконній діяльності." %}</p>
                            <h3>{% trans "7. Системні функції" %}</h3>
                            <p>{% trans "Сервіс CryptoChicken виконує безліч завдань, пов'язаних із дотриманням норм, зокрема збір даних, фільтрацію, ведення записів, управління розслідуваннями та звітність. Системні функції включають:" %}</p>
                            <ul>
                                <li>{% trans "щоденна перевірка Користувачів на наявність у визнаних \"чорних списках\" (наприклад, OFAC), агрегування передач за кількома точками даних, розміщення користувачів у списках спостереження і відмови у наданні послуг, відкриття справ для розслідування там, де це необхідно, надсилання внутрішніх повідомлень і заповнення обов'язкових звітів, якщо це застосовується;" %}</li>
                                <li>{% trans "управління справами і документами." %}</li>
                            </ul>
                            <h3>{% trans "8. Аналіз поведінки" %}</h3>
                            <p>{% trans "Сервіс CryptoChicken перевіряє Користувачів не лише шляхом перевірки їх особи, а й шляхом аналізу їхньої поведінки у транзакціях. Тому Сервіс CryptoChicken покладається на аналіз даних як інструмент оцінки ризику і виявлення підозрілих дій." %}</p>
                            <h3>{% trans "9. Оцінки ризиків" %}</h3>
                            <p>{% trans "CryptoChicken відповідно до міжнародних вимог застосовує практику оцінки ризиків для боротьби з відмиванням грошей і фінансуванням тероризму. Застосовуючи практику оцінки ризиків для боротьби з відмиванням грошей, CryptoChicken забезпечує відповідність заходів щодо запобігання або зменшення відмивання грошей і фінансування тероризму виявленим ризикам." %}</p>
                            <p>{% trans "Дроблення коштів, створення декількох заявок (3 і більше) з одними реквізитами у короткий проміжок часу може розцінюватися як підозріла активність. У такому випадку може знадобитися верифікація користувача." %}</p>
                            <p>{% trans "Сервіс CryptoChicken не взаємодіє з такими санкційними біржами, майданчиками, платформами: Garantex, Tornado Cash, Hydra, Lazarus Group, Genesis Market, Hydra.io, ChipMixer, Shinbad, Commex, Capitalist, Rapira, BitPapa та іншими." %}</p>
                            <h3>{% trans "10. Проведення перевірок клієнтів" %}</h3>
                            <p>{% trans "У разі виникнення обґрунтованих підозр у адміністрації сервісу CryptoChicken щодо того, що користувач намагається скористатися послугами Сервісу для відмивання грошей або з метою проведення будь-яких інших незаконних операцій, адміністрація має право:" %}</p>
                            <ul>
                                <li>{% trans "призупинити виконання обмінної операції користувача;" %}</li>
                                <li>{% trans "запитати у Користувача документи, що ідентифікують особу;" %}</li>
                                <li>{% trans "запитати у Користувача будь-яку додаткову інформацію і документи у випадку здійснення ними підозрілих транзакцій;" %}</li>
                                <li>{% trans "забезпечити, щоб повідомлення про підозрілий характер операцій передавалися відповідним правоохоронним органам через посадову особу, відповідальну за дотримання норм AML." %}</li>
                            </ul>
                            <h3>{% trans "11. Конфіденційність" %}</h3>
                            <p>{% trans "Сервіс CryptoChicken гарантує конфіденційність клієнта відповідно до політики конфіденційності сервісу." %}</p>
                            <p>{% trans "11.1. Сервіс CryptoChicken і його співробітники зобов'язуються зберігати конфіденційність щодо будь-яких фактів, виявлених у зв'язку з будь-якою сумнівною операцією. Це зобов'язання також поширюється на користувачів Сервісу і на третіх осіб, яким передано інформацію про операцію." %}</p>
                            <p>{% trans "11.2. Зобов'язання працівників Сервісу CryptoChicken щодо забезпечення конфіденційності зберігає силу після припинення їхньої роботи або інших договірних відносин із Сервісом CryptoChicken, а також при переведенні таких співробітників на інше місце роботи. Розкриття такої інформації державним, правоохоронним органам і іншим суб'єктам у випадках, визначених законом, не є порушенням зобов'язання щодо конфіденційності." %}</p>
                            <p>{% trans "11.3. Зобов'язання щодо забезпечення конфіденційності, за умови, що використання розкритої інформації обмежується запобіганням легалізації доходів від злочинів і фінансування тероризму, не застосовується до розкриття інформації між фінансовими установами, які утворюють консолідовану групу і співпрацюють із Сервісом CryptoChicken." %}</p>
                            <h3>{% trans "12. Висновок" %}</h3>
                            <p>{% trans "У зв'язку з вищевикладеним сервіс CryptoChicken не несе жодної юридичної відповідальності за використання його з метою легалізації грошових коштів, отриманих злочинним шляхом, фінансування тероризму або покупки заборонених товарів і послуг, але зобов'язується вжити всі можливі і доступні заходи для запобігання спробам використання Сервісу CryptoChicken з метою легалізації грошових коштів, отриманих злочинним шляхом, фінансування тероризму або покупки заборонених товарів і послуг." %}</p>
                            <p>{% trans "Здійснюючи обмін, Користувач відповідно до правил, що діють на CryptoChicken, погоджується з усіма умовами цих політик і зобов'язується їх виконувати." %}</p>
                        </div>

                        <div class="clear"></div>
                    </div>


                </div>
            </div>
        </section>
    </main>

    {% include 'partials/footer.html' %}

</div>

<div class="popup " data-popup="call">
    <div class="popup__content">
        <div class="popup__bg popup-close"></div>
        <div class="popup__container">
            <a href="#" class="popup__close popup-close"></a>
            <div class="popup__body">
                <div class="popup__head">
                    <div class="popup__title"></div>
                    <div class="popup__intro"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="popup " data-popup="thank">
    <div class="popup__content">
        <div href="" class="popup__bg popup-close"></div>
        <div class="popup__container">
            <a href="#" class="popup__close popup-close"></a>
            <div class="popup__body">
                <div class="popup__head">
                    <div class="popup__title"></div>
                    <div class="popup__intro"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LW8KXMZ9C5"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-LW8KXMZ9C5');
</script>

<script type="text/javascript">
    jQuery(function ($) {

        var auto_load = 1;

        function globalajax_timer() {
            if (auto_load == 1) {
                auto_load = 0;

                var param = 'set=1';

                $('.globalajax_ind').addClass('active');
                $.ajax({
                    type: "POST",
                    url: "https://crypto-chicken.co/premium_site_action-globalajax_action.html?meth=post&yid=451a96c1cac6&ynd=0&lang=ru",
                    dataType: 'json',
                    data: param,
                    error: function (res, res2, res3) {
                        for (key in res) {
                            console.log(key + ' = ' + res[key]);
                        }
                    },
                    beforeSend: function (res, res2, res3) {
                    },
                    success: function (res) {

                        if (res['status'] == 'success') {
                            auto_load = 1;
                        }
                        $('.globalajax_ind').removeClass('active');
                    }
                });
            }
        }

        setInterval(globalajax_timer, 60000);

    });
</script>

<script type="text/javascript" id="zsiqchat">var $zoho = $zoho || {};
$zoho.salesiq = $zoho.salesiq || {
    widgetcode: "siq14ec188a69152de55496ad9420108121ae55121ac1f6b0f636027b7e1192cf77",
    values: {},
    ready: function () {
    }
};
var d = document;
s = d.createElement("script");
s.type = "text/javascript";
s.id = "zsiqscript";
s.defer = true;
s.src = "https://salesiq.zoho.eu/widget";
t = d.getElementsByTagName("script")[0];
t.parentNode.insertBefore(s, t);</script>

<script>
    if (typeof gtag === 'function') {
        gtag('config', 'AW-16948843742');
    } else {
        var script = document.createElement('script');
        script.async = true;
        script.src = 'https://www.googletagmanager.com/gtag/js?id=AW-16948843742';
        document.head.appendChild(script);

        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-16948843742');
    }
</script>
<div style="display: none;">
    <form method="post" class="upload_hf_form" enctype="multipart/form-data"
          action="https://crypto-chicken.co/premium_site_action-hf_upload.html?meth=post&yid=451a96c1cac6&ynd=0&lang=ru">
        <input type="hidden" name="formid" id="upload_hf_form_id" value=""/>
        <input type="hidden" name="type" id="upload_hf_form_type" value=""/>
        <input type="hidden" name="id" id="upload_hf_form_valid" value=""/>
        <input type="hidden" name="redir" id="upload_hf_form_redir" value=""/>
        <div id="upload_hf_form_file"></div>
    </form>
</div>
<script type="text/javascript">
    jQuery(function ($) {

        $(document).on('change', '.js_hf_input', function () {

            var thet = $(this);
            var type = thet.parents('.form_hf').attr('data-type');
            var redir = thet.parents('.form_hf').attr('data-redir');
            var id = thet.parents('.form_hf').attr('data-id');
            var form_id = thet.parents('.form_hf').attr('id');
            var input_now = thet.parents('.js_hf_input_linewrap').html();
            var ccn = thet[0].files.length;
            if (ccn > 0) {
                var fileInput = thet[0];
                var bitec = fileInput.files[0].size;
                if (bitec > 2097152) {
                    alert('Макс. 2 МБ !');
                    thet.val('');
                } else {
                    $('#upload_hf_form_type').val(type);
                    $('#upload_hf_form_valid').val(id);
                    $('#upload_hf_form_redir').val(redir);
                    $('#upload_hf_form_id').val(form_id);

                    $("#upload_hf_form_file").html('');

                    let dt = new DataTransfer();
                    dt.items.add(this.files[0]);

                    let n_input = $('<input>', {
                        type: 'file',
                        name: thet.attr('name'),
                        class: thet.attr('class'),
                        id: thet.attr('id'),
                        accept: thet.attr('accept'),
                        multiple: thet.prop('multiple'),
                        required: thet.prop('required'),
                    })[0];
                    n_input.files = dt.files;

                    $("#upload_hf_form_file").append(n_input);

                    /* thet.clone().appendTo("#upload_hf_form_file"); */

                    $('.upload_hf_form').submit();
                }
            }

        });

        $('.upload_hf_form').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (a, f, o) {

                var form_id = $('#upload_hf_form_id').val();
                $('#' + form_id).addClass('uploading');

                $('.form_hf input').prop('disabled', true);
                $('.form_hf').find('.js_hf_bar').show();
                $('.form_hf').find('.js_hf_bar_abs').width('0px');
                $('.js_hf_response').html('');

            },
            error: function (res, res2, res3) {
                for (key in res) {
                    console.log(key + ' = ' + res[key]);
                }
            },
            uploadProgress: function (event, position, total, percentComplete) {

                var form_id = $('#upload_hf_form_id').val();
                var percentVal = percentComplete + '%';
                $('#' + form_id).find('.js_hf_bar_abs').width(percentVal);

            },
            success: function (res) {

                var form_id = $('#upload_hf_form_id').val();

                if (res['status'] == 'success') {
                    $('#' + form_id).find('.js_hf_files').html(res['response']);
                }

                if (res['status'] == 'error') {
                    $('#' + form_id + '_hf_response').html('<div class="resultfalse">' + res['status_text'] + '</div>');
                }

                if (res['url']) {
                    window.location.href = res['url'];
                }

                $('.js_hf_input').val('');
                $('.form_hf').find('.ustbl_bar').hide();
                $('.form_hf input').prop('disabled', false);
                $('#' + form_id).removeClass('uploading');

            }
        });

        $(document).on('click', '.js_hf_del', function () {

            var id = $(this).attr('data-id');
            var insert_html = $(this).parents('.js_hf_files');
            var thet = $(this);
            $('.js_hf_response').html('');
            if (!thet.hasClass('act')) {
                if (confirm("Вы уверены что хотите удалить этот файл?")) {
                    thet.addClass('act');
                    var param = 'id=' + id;
                    $.ajax({
                        type: "POST",
                        url: "https://crypto-chicken.co/premium_site_action-hf_delete.html?meth=post&yid=451a96c1cac6&ynd=0&lang=ru",
                        dataType: 'json',
                        data: param,
                        error: function (res, res2, res3) {
                            for (key in res) {
                                console.log(key + ' = ' + res[key]);
                            }
                        },
                        success: function (res) {
                            if (res['status'] == 'success') {
                                insert_html.html(res['response']);
                            }

                            if (res['status'] == 'error') {
                                for (key in res) {
                                    console.log(key + ' = ' + res[key]);
                                }
                            }

                            if (res['url']) {
                                window.location.href = res['url'];
                            }

                            thet.removeClass('act');
                        }
                    });
                }
            }

            return false;
        });

    });
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"version":"2024.11.0","token":"c9541608bc38455c9e1936cbc59a8538","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}'
        crossorigin="anonymous"></script>
</body>
{% endblock %}
